<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/module.css">
  <title>About Us</title>
</head>

<body>
  <div class="frame" class=flex>
    <a class="nav-button" href="/" target="_self">Home</a>
    <br><br><br>

    <div class="dev-content">
      <h1>Meet the Team</h1>
      <p class="motto">We love building websites</p>
      <br>
      <p class=readable>We have created a website that lets you explore all of the Magic the Gathering cards (over 20,000!!! TWENTY THOUSAND) of them with our website. You can add cards to your collection or to your wishlist to build out your decks!!
      </p>
      <br>
    </div>

    <br>

    <div class=profile-img>
      <img src="/styles/pics/peter.jpg" class="pic">
    </div>
    <div>
     
      <p class=bold-name>Peter Cole <a href="https://github.com/petercole3" target="_blank"><img src="/styles/pics/github_PNG58.png"
        class="github-logo"></a><a href="https://www.linkedin.com/in/petercole3/" target="_blank"><img src="/styles/pics/li.png"
          class="github-logo"></a></p>
      <p class=readable>  
      Hi! I am a 28 year old software engineer. Web development in the outdoor industry is where I am trying to
      find my next home, but AI for the automotive industry and CNC machining software also intrigue me. I value
      a community driven and empowering work environment. Outside of work, I volunteer with a mountaineering
      nonprofit and play the tuba.
      </p><br>
    </div>

    <div class=profile-img>
      <img src="/styles/pics/Brandon.jpg" class="pic">
    </div>
    <div>
      
      <p class=bold-name>Brandon Johnson <a href="https://github.com/splintercel3000" target="_blank"><img src="/styles/pics/github_PNG58.png"
        class="github-logo"></a><a href="https://www.linkedin.com/in/brandon-johnson-33a581109/" target="_blank"><img src="/styles/pics/li.png"
          class="github-logo"></a></p>
        <p class=readable>
      Hi my name is Brandon Johnson and I come from a minor background in Computer Science and a more recent
      background in retail. I wanted to become a software developer to pursue my love of computers and coding! I
      look forward to learning more and getting my own place in the industry I can call home.
      </p><br>
    </div>

    <div class=profile-img>
      <img src="/styles/pics/shingo.jpeg" class="pic">
    </div>
    <div>
     
      <p class=bold-name>Shingo Nakajima  <a href="https://github.com/shingoed" target="_blank"><img src="/styles/pics/github_PNG58.png"
        class="github-logo"></a><a href="https://www.linkedin.com/in/shingoed/" target="_blank"><img src="/styles/pics/li.png"
          class="github-logo"></a></p>
      <p class=readable>
      I am a software developer and I like to build apps. I decided to dive into the
      world
      of software development because I became
      interested in building my own apps. I am dedicated, hardworking and motivated to
      bring great ideas into reality.
      </p>
    </div>
  </div>

</body>

</html>