<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="./styles/reset.css"> -->
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/module.css">
  <title>Error</title>
</head>

<body>
  <div class="frame">
    <h1><%= error %></h1>
    <a class="nav-button" href="/" target="_self">Home</a>
    <br><br>
    <p>Please go back and reselect your card. There was an error in the search results.</p>
  </div>
  <script src="./js/app.js"></script>
</body>

</html>