<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Deck Builder</title>
</head>
<body>
  <h1>Deck Builder: Proof of Life</h1>
  <a href="/collection" target="_self">Collection</a>
  <a href="/wish-list" target="_self">Wish List</a>

  <img src="/styles/pics/shingo.jpeg">
  
  <script src="./js/app.js"></script>
</body>
</html>
