
h1 {
  font-size: 36px;
}

.readable {
  font-family: Arial, Helvetica, sans-serif;
}

/* *************************************ABOUT US************************************** */

.flex {
  display: flex;
  flex-direction: column;
}

.motto {
  font-style: oblique;
}

.dev-content {
  font-size: 20px;
  color: black;
  font-family: 'MAGIC';
}

.github-logo {
  max-width:2%;
  max-height: 2%;
}

.devs {
  font-style: bold;
  font-size: 18px;
}

.bold-name {
  font-weight: bold;
  display: inline;
}

.profile-img {
padding:10px;
}

.pic {
  max-width:25%;
  max-height: 25%;
}
