@font-face{
  font-family: 'MAGIC';
  src: url('./fonts/MAGIC.TTF');
}


body {
  font-family: 'MAGIC';
  background-color: rgb(188, 188, 188);
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  margin: 40px;
  width: max-content;
  padding: 10px 60px 30px;
  background-color:#f2f2f2;
  box-shadow: 1px 2px 5px 2px #595959;
  text-align: center;
}

.nav-button {
  background-color: rgb(255, 157, 0);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

#search-button {
  background-color: rgb(255, 157, 0);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.search-bar-contents {
  font-family: 'MAGIC';
  font-size: 18px;
}

.motto{
  font-style: oblique;
}

.dev-content {
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: 'MAGIC';
}

.github-logo {
  max-width: 80px;
  padding: 0px;
}

.devs{
  font-style: bold;
  font-size: 18px;
}

.paragraph{
  display: flex;
  width: 40%;
  margin: auto;
  text-align: center;
}

.bold-name{
  font-weight: bold;
}

.paragraph-name{
  display: flex;
  width: 40%;
  margin: auto;
  text-align: center;
}
/************************************* FLIPPING ANIMATION *******************************************/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  max-height: 10px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/************************************* end of FLIPPING ANIMATION *******************************************/

/************************************* PETER *******************************************/


/* hide back of pane during swap */
 .front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 500px;
} 

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 500px;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 0px;
  right: 500px;
} 

/************************************* end of PETER *******************************************/

/************************************* BRANDON *******************************************/

/* hide back of pane during swap */
.front-brandon, .back-brandon {
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
} 

/* front pane, placed above back */
.front-brandon {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
}

/* back, initially hidden pane */
.back-brandon {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 400px;
  right: 400px;
}
/************************************* end of BRANDON *******************************************/


/************************************* SHINGO *******************************************/

/* hide back of pane during swap */
.front-shingo, .back-shingo {
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
} 

#pic{
  max-width:50%;
  max-height: 50%;
}

/* front pane, placed above back */
.front-shingo {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 800px;
  left: 500px;  
}

/* back, initially hidden pane */
.back-shingo {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 800px;
  right: 400px;
}
/************************************* end of SHINGO *******************************************/


